<div class="clearfix" style="background-color:rgb(62,62,69);">

  <span class="float-left" ><button class="btn"><i class="fa fa-bars"></i>&nbsp; &nbsp; VERMEG</button></span><br>
  <span class="a" ><i class="fa fa-search" ></i><input type="search" class="b" placeholder="rechercher par xxx,xxx,xxx" ></span>
  <span class="float-right" ><button class="btn">Nom</button></span>  
</div>


<div class="test" >
<div class="container">
  <br><br><br><br>
  <div id="accordion">
    <div class="card"><a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="color:black;">
         1.Portefeuille
        </a>
      <div class="card-header">
        
      </div>
      <div id="collapseOne" class="collapse show">
        <div class="card-body">
            <app-portefeuille></app-portefeuille>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" style="color:black;">
        2.Bordereau
      </a>
      </div>
      <div id="collapseTwo" class="collapse">
        <div class="card-body">
          <app-bordereau></app-bordereau>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" style="color:black;">
          Frais
        </a>
      </div>
      <div id="collapseThree" class="collapse">
        <div class="card-body">
          <app-frais></app-frais>
        </div>

      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" style="color:black;">
          4.Zone libre
        </a>
      </div>
      <div id="collapseFour" class="collapse">
        <div class="card-body">
          <app-zone-libre></app-zone-libre>
        </div>
  </div>
</div>
</div>